html {
  font-size: 18px;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  border: 8px solid #000058;
  position: relative;
  background-color: #f5f0e1;
}

h1,
h2 {
  color: #000058;
  letter-spacing: 0.0125rem;
}

p {
  line-height: 1.6rem;
}

.wrapper {
  width: 50%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.intro {
  margin-top: 4rem;
}

.site-header {
  display: flex;
  align-items: center;
}

.site-header img {
  width: 2.8rem;
  height: auto;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  margin-left: 1rem;
  border-bottom: 0.2rem solid #e25822;
  color: #000058;
  font-size: 1.4rem;
}

.nav-bar a:hover {
  border-bottom: 0.2rem solid #000058;
}

.line {
  width: 15%;
  border-bottom: 0.125rem solid #e25822;
}

.icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 0.2rem solid #e25822;
}

.icons img {
  width: auto;
  height: 65px;
  background: transparent;
  margin-top: 1rem;
}

.icon-container {
  margin: 3.5rem 0 5rem 0;
}
