html {
  font-size: 18px;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  border: 8px solid black;
  position: relative;
}

.wrapper {
  width: 60%;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.site-header {
  display: flex;
  align-items: center;
}

.site-header img {
  width: 3rem;
  height: auto;
}

.nav-bar {
  font-size: 1.5rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  margin-left: 0.6rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons img {
  width: 100px;
  height: auto;
}
