.contact-box {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.contact-box h3 {
  font-size: 1.7rem;
  font-family: "Playfair Display", serif;
}

.flex {
  display: flex;
}

.contact {
  margin-top: 2rem;
}

.form-container {
  margin-right: 7rem;
}

code {
  background-color: #e7deba;
  padding: 0.1em 0.25em;
  border-radius: 5px;
  color: #000058;
}

.form-group p {
  margin-bottom: 0;
}

input,
textarea {
  border: none;
  background-color: #e7deba;
}

input:focus,
textarea:focus {
  border: 2px solid rgba(226, 88, 34, 0.5);
}

.button {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 3px solid #e25822;
  margin-top: 0.8rem;
}

.button:hover {
  transition: 0.2s;
  font-size: 1.2rem;
}

.inline {
  display: inline-block;
}

.contact-info {
  padding-top: 2rem;
}

.contact-info p {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a {
  text-decoration: none;
  border-bottom: 0.2rem solid #e25822;
  color: #000058;
}

a:hover {
  transition: 0.2s;
  border-bottom: 0.2rem solid #000058;
}
